<p></p>
<h1>User Detail</h1>
<table
  *ngIf="creatures"
  class="table table-small table-striped table-dark table-bordered"
>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Log</th>
    </tr>
  </thead>

  <tbody>
    @for (creature of creatures; track creature.name) {
    <tr>
      <td>{{ creature.name }}</td>
      <td>{{ creature.status }}</td>
      <td>
        <div>
          {{ creature.log.toStringLog() }}
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<footer>
  <button class="btn btn-secondary me-2" (click)="reloadLife()"> Reload Life </button>
</footer>
